
/***
Header and header elements.
***/

.header {
  width: 100%; 
  padding: 0 20px 0 20px;
  margin: 0;
  border: 0px;
  padding: 0px; 
  box-shadow: none;
  height: 45px; 
  min-height: 45px;

  .navbar-fixed-top {
    z-index: 9995 !important;
  }

  .navbar-brand {
    display: inline-block;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 215px;
    height: 45px;
  }

  .page-logo {
    float: left;
    display: block;
    width: 225px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;

    img {
      margin: 16px 0 0 0;
    }
  }

  .navbar-toggle {
    margin: 10px 6px 9px 6px;
    padding: 0; 
    padding-top:2px;
    padding-bottom: 6px; 
    background-image: none;
    filter:none;
    box-shadow: none;
    color: #fff;
    border: 0;

    &:hover {
      text-decoration: none;
      background: none;
    }
  }

  .navbar-nav {
    height: 45px;
    margin-right: 20px;
    display: block; 

    & > li {
      margin: 0px !important;
      padding: 0px !important;

      &.devider {
        margin-left: 10px !important;
        margin-right: 5px !important;
        height: 45px;
        width: 1px !important;
      }

      &.dropdown {
        padding-left: 4px; 
        padding-right: 4px;

        &:last-child {
           padding-right: 2px;
        }

        .dropdown-toggle {
          padding: 14px 12px 10px 12px;
          margin: 0 2px;

          & > i {
            font-size: 18px;
          }
        }

        .dropdown-menu > li > a > i {
          font-size: 14px;
        }

        &.user {
          .dropdown-toggle {
            margin: 0 !important;
            padding: 12px 8px 12px 8px;

            .username {
              display: inline-block;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      &.dropdown > a {
        padding-left: 4px; 
        padding-right: 4px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    li {
      &.dropdown {
        &.user {
          .dropdown-toggle{
            img {
              float: left;
              display: inline-block;
              margin-top: -4px;
              margin-right: 5px;
            }

            i {
              display: inline-block;
              margin-top: 5px;
              margin: 0;
              font-size: 13px;
            }
          }

          .dropdown-menu{
            i {
              display: inline-block;
            }
          }

          img {
            border-radius: 50%;
          }
        }

        .dropdown-toggle {
          .badge {
            position: absolute;
            top: 10px;
            right: 2px;
            border-radius: 2px  !important;
            font-weight: 300px;
            padding: 1px 4px 0px 4px;
            height: 14px;
          }
        }


      }
    }

    .dropdown-menu {
      margin-top: 3px;
    }

  }
  
}