<div class="modifypage">
    <modal title="修改代码生成器信息">
        <he-form action="/admin/produce/modify" horizontal noactions>
            <he-form-item title="ID" required horizontal>
                <input type="text" name="id" v-model="id" readonly>
            </he-form-item>
            <he-form-item title="数据库表名" required horizontal>
                <input type="text" name="tableName" v-model="tableName" readonly>
            </he-form-item>
            <he-form-item title="目标名字" required horizontal>
                <input type="text" name="targetName" v-model="targetName">
            </he-form-item>
            <he-form-item title="目标描述" horizontal>
                <input type="text" name="targetDesc" v-model="targetDesc">
            </he-form-item>
            <he-form-item title="菜单ID" required horizontal>
                <input type="text" name="menuId" v-model="menuId">
            </he-form-item>
            <he-form-item title="面包屑导航" required horizontal>
                <input type="text" name="breadcrumb" v-model="breadcrumb">
            </he-form-item>
            <he-form-item title="状态" required horizontal>
                <select2 name="state" :value.sync="state">
                    <select2-option title="有效" value="1"></select2-option>
                    <select2-option title="无效" value="-1"></select2-option>
                </select2>
            </he-form-item>
        </he-form>
    </modal>
</div>
