<div class="form-group" :class="{ 'errwrap': !horizontal }">
    <template v-if="horizontal">
        <label class="col-md-{{colLeft}} control-label">{{ title }} <span class="required" v-if="required"> * </span></label>
        <div class="col-md-{{colRight}} errwrap">
            <slot></slot>
            <span class="help-block" v-if="help" v-text="help"></span>
        </div>
    </template>
    <template v-else>
        <label class="control-label">{{ title }}</label>
        <slot></slot>
        <span class="help-block" v-if="help" v-text="help"></span>
    </template>
</div>