<ul class="nav nav-pills nav-justified steps">
    <li>
        <a href="#tab1" data-toggle="tab" class="step">
            <span class="number"> 1 </span>
            <span class="desc">
                        <i class="fa fa-check"></i> Account Setup 
            </span>
        </a>
    </li>
    <li>
        <a href="#tab2" data-toggle="tab" class="step">
            <span class="number"> 2 </span>
            <span class="desc">
                <i class="fa fa-check"></i> Profile Setup 
            </span>
        </a>
    </li>
    <li>
        <a href="#tab3" data-toggle="tab" class="step">
            <span class="number"> 3 </span>
            <span class="desc">
                <i class="fa fa-check"></i> Billing Setup 
            </span>
        </a>
    </li>
    <li>
        <a href="#tab4" data-toggle="tab" class="step">
            <span class="number"> 4 </span>
            <span class="desc">
                <i class="fa fa-check"></i> Confirm 
             </span>
        </a>
    </li>
</ul>
