<div class="codingitem_index-main">

    <codinginfo :assign="assign"></codinginfo>

    <admin-main-toolbar v-if="isShowToolbar">
         <button class="btn btn-success" v-on:click="showAddPage">
            新增 <i class="fa fa-plus"></i>
        </button>
    </admin-main-toolbar>

    <add-page v-if="isShowAddPage" :assign="assign" v-on:backtoinit="backToInit"></add-page>
    <modify v-ref:modify v-on:savesuccess="reloadDataGrid"></modify>
    <delete v-ref:delete v-on:savesuccess="reloadDataGrid"></delete>
    <detail v-ref:detail></detail>

    <portlet v-if="isShowDatagrid" title="代码生成器字段列表" icon="globe">    
        <datagrid :url="getDataUrl" pagelength="4" v-on:click="operate" v-ref:datagrid>
            <datagrid-item name="id" title="ID"></datagrid-item>
            <datagrid-item name="fieldName" title="字段名称"></datagrid-item>
            <datagrid-item name="cnName" title="中文名称"></datagrid-item>
            <datagrid-item name="enName" title="英文名称"></datagrid-item>
            <datagrid-item name="stateShow" title="状态"></datagrid-item>
            <datagrid-item name="id" title="操作" render="commonOperate | detail modify delete" disableorder></datagrid-item>
        </datagrid>
    </portlet>   

</div>
