/*!/modules/car_index/add/main.css*/
.addpage{
    display: inline-block;
}
/*!/modules/login_index/container/main.scss*/
.content {
  background-color: #fff;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 4px;
}

.content h3 {
  color: #000;
}

.content h4 {
  color: #555;
}

.content p {
  color: #222;
}

.content .login-form {
  padding: 0px;
  margin: 0px;
}

.content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
  margin-top: 8px;
  display: inline-block;
}

.content .form-actions .btn {
  margin-top: 1px;
}

@media (max-width: 480px) {
  .content {
    width: 280px;
  }
  .content h3 {
    font-size: 22px;
  }
  .content .checkbox {
    font-size: 13px;
  }
}

/*!/modules/login_index/footer/main.scss*/
.copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #999;
  font-size: 13px;
}

.copyright a {
  color: #999;
  text-decoration: underline;
}

/*!/modules/login_index/header/main.scss*/
.logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
}

@media (max-width: 480px) {
  .logo {
    margin-top: 10px;
  }
}

/*!/modules/user_index/add/main.css*/
.addpage{
    display: inline-block;
}
/*!/modules/widget/datagrid/main.scss*/
.datagrid .datagrid-table .action {
  margin-right: 10px;
}

/*!/modules/widget/date/main.css*/
select {
  min-width: 300px;
}
/*!/modules/widget/select2/main.css*/
select {
  min-width: 300px;
}
/*!/pages/index_index/main.scss*/
.row-fluid .recommended {
  width: 900px;
  min-height: 500px;
  margin: 0 auto;
}

.row-fluid .recommended .page-title {
  position: fixed;
  width: 900px;
  top: 0px;
  background: white;
  border-width: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  padding-left: 20px;
  border-bottom: 2px solid #d9d9d9;
  font-size: 12px;
}

.row-fluid .recommended .page-title .loader-tiny {
  float: left;
  width: 17px;
  margin: 20px 0 0 20px;
  display: none;
}

.row-fluid .recommended .page-title .search {
  float: right;
  margin-top: 10px;
}

.row-fluid .recommended .page-title .navigation {
  margin: 0;
  border-bottom: none;
  list-style: none;
  text-align: center;
}

.row-fluid .recommended .page-title > ul .active {
  margin-bottom: -2px;
  border-bottom: 2px solid #555555;
}

.row-fluid .recommended .page-title li {
  float: left;
  line-height: 20px;
}

.row-fluid .recommended .page-title li:hover {
  background-color: #eeeeee;
  color: #555555;
}

.row-fluid .recommended .page-title li a {
  padding: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  color: #999999;
  text-decoration: none;
}

/*!/pages/login_index/main.scss*/
/***
Login page
***/
.login_index {
  background-color: #515255 !important;
}

/*!/modules/module_admin/header/main.scss*/
/***
Header and header elements.
***/
.header {
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 0;
  border: 0px;
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 45px;
  min-height: 45px;
}

.header .navbar-fixed-top {
  z-index: 9995 !important;
}

.header .navbar-brand {
  display: inline-block;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 215px;
  height: 45px;
}

.header .page-logo {
  float: left;
  display: block;
  width: 225px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.header .page-logo img {
  margin: 16px 0 0 0;
}

.header .navbar-toggle {
  margin: 10px 6px 9px 6px;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 6px;
  background-image: none;
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border: 0;
}

.header .navbar-toggle:hover {
  text-decoration: none;
  background: none;
}

.header .navbar-nav {
  height: 45px;
  margin-right: 20px;
  display: block;
}

.header .navbar-nav > li {
  margin: 0px !important;
  padding: 0px !important;
}

.header .navbar-nav > li.devider {
  margin-left: 10px !important;
  margin-right: 5px !important;
  height: 45px;
  width: 1px !important;
}

.header .navbar-nav > li.dropdown {
  padding-left: 4px;
  padding-right: 4px;
}

.header .navbar-nav > li.dropdown:last-child {
  padding-right: 2px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle {
  padding: 14px 12px 10px 12px;
  margin: 0 2px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle > i {
  font-size: 18px;
}

.header .navbar-nav > li.dropdown .dropdown-menu > li > a > i {
  font-size: 14px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle {
  margin: 0 !important;
  padding: 12px 8px 12px 8px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle .username {
  display: inline-block;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}

.header .navbar-nav > li.dropdown > a {
  padding-left: 4px;
  padding-right: 4px;
}

.header .navbar-nav > li.dropdown > a:last-child {
  padding-right: 0;
}

.header .navbar-nav li.dropdown.user .dropdown-toggle img {
  float: left;
  display: inline-block;
  margin-top: -4px;
  margin-right: 5px;
}

.header .navbar-nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 13px;
}

.header .navbar-nav li.dropdown.user .dropdown-menu i {
  display: inline-block;
}

.header .navbar-nav li.dropdown.user img {
  border-radius: 50%;
}

.header .navbar-nav li.dropdown .dropdown-toggle .badge {
  position: absolute;
  top: 10px;
  right: 2px;
  border-radius: 2px  !important;
  font-weight: 300px;
  padding: 1px 4px 0px 4px;
  height: 14px;
}

.header .navbar-nav .dropdown-menu {
  margin-top: 3px;
}

/*!/modules/module_admin/footer/main.scss*/
.footer {
  padding: 10px 20px 5px 20px;
  font-size: 12px;
}

.footer:after, .footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.footer:after {
  clear: both;
}

.footer .footer-inner {
  float: left;
  display: inline-block;
}

.footer .footer-tools {
  float: right;
  display: inline-block;
}

.footer .footer-tools .go-top {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -4px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 2px 6px 0px 6px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.footer .footer-tools .go-top i {
  font-size: 22px;
  margin-bottom: 7px;
}
