<div class="index-main">

    <admin-main-toolbar>
        <he-button 
                type="success" 
                icon="plus" 
                @click="showAddPage">
                    新增
        </he-button> 
    </admin-main-toolbar>
    

<crud-modal-detail v-if="isShowDetailModal" 
            :title="modalTitle"
            :init-data="modalInitData" 
            :field-define="modalFieldDefine">
</crud-modal-detail>

<crud-modal-delete v-if="isShowDeleteModal" 
            :title="modalTitle"
            :init-data="modalInitData" 
            :field-define="modalFieldDefine" 
            :url="modalCgi">
</crud-modal-delete>

<crud-modal-save v-if="isShowSaveModal" 
            :title="modalTitle"
            :init-data="modalInitData"
            :field-define="modalFieldDefine" 
            :url="modalCgi">
</crud-modal-save>
    
<portlet :title="datagridTitle" icon="globe">    
    <datagrid 
            :url="datagridCgi" 
            :items="datagridItem"
            :type="datagridType"
            @click="operate" 
            v-ref:datagrid>            
    </datagrid>
</portlet>   


</div>
