
/*** IE 8 Fixes ***/
/***
Page sidebar
***/

.ie8 .page-sidebar {
  width: 225px;
  float: left;
  position: relative;
  margin-left: -100%;
}

.page-sidebar.navbar-collapse {
  padding: 0;
}

.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

.page-sidebar-menu > li.sidebar-toggler-wrapper,
.page-sidebar-menu > li.sidebar-search-wrapper {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

.page-sidebar-menu > li:last-child > a,
.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}

.page-sidebar-menu > li > a {
  border-right: 4px solid transparent; 
  display: block;
  position: relative;
  margin: 0;
  padding: 10px 13px 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.page-sidebar-fixed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-reversed.page-sidebar-fixed .page-sidebar-menu > li > a{
     -webkit-transition: none;
        -moz-transition: none;
          -o-transition: none;
             transition: none;
}



.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none; 
}

.page-sidebar-menu.page-sidebar-menu-circle-icons > li > a i {
  font-size: 12px;
  margin-right: 5px;
  text-shadow:none; 
  border-radius: 50%;
  border: 1px solid #555;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}

.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
  border-right: 4px solid #d12610;
}  

.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 0px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar ul.page-sidebar-menu-circle-icons > li > a > .arrow:before {
  margin-top: 3px;
} 

.page-sidebar ul > li.active > a > .arrow:before {
  margin-right: 1px;
}

.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 0px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

/* bagin: sidebar menu badges */
.page-sidebar-menu li > a .badge {
   float: right;
   margin-top: 1px;
   margin-right: 13px;
}

/* end: sidebar menu badges */

.page-sidebar-menu .sub-menu {
  padding: 0;
}

.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 0px;
}

.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}

.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 35px !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

/* 3rd level sub menu */
.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}

.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow:before   {  
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
  display: block;
}

.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 60px;
}

.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 80px;
}

.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu > li.active ul.sub-menu {
  display: block;
}


.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}


/***
Sidebar toggler(show/hide)
***/

.sidebar-toggler {
  -webkit-border-radius: 4px 0px 0px 4px;
     -moz-border-radius: 4px 0px 0px 4px;
          border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  display: block;
  float: right;
  margin: 0;
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 24px;
  height: 23px;
  margin-right: -1px;
  background-color: #FcFcFc;
}

.sidebar-toggler:before {
   margin: 0px 2px 3px 8px;
   display: inline-block;
   font-size: 18px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-closed .sidebar-toggler:before {
  content: "\f105";
  margin: 0px 2px 3px 10px;
}

.page-sidebar-reversed.page-sidebar-closed .sidebar-toggler:before {
  content: "\f104"; 
  margin: 0px 4px 3px 8px;
}

.page-sidebar-reversed .sidebar-toggler:before {
  content: "\f105";
}

.page-sidebar-reversed .sidebar-toggler {
  margin-right: 0;  
  margin-left: -1px;
  float: left;
  -webkit-border-radius: 0px 4px 4px 0px;
     -moz-border-radius: 0px 4px 4px 0px;
          border-radius: 0px 4px 4px 0px;
}

.ie .page-sidebar-reversed .sidebar-toggler {  
  margin-left: -1px;
}

