<div class="row">
    <div class="col-md-12">
        <div class="col-md-offset-3 col-md-9">
            <a href="javascript:;" class="btn btn-default button-previous" v-show="index > 0">
                <i class="m-icon-swapleft"></i> 后退 
            </a>
            <a href="javascript:;" class="btn btn-info button-next"  v-show="index < total-1">
                继续 <i class="m-icon-swapright m-icon-white"></i>
            </a>
            <a href="javascript:;" class="btn btn-success button-submit" v-on:click="triggerSubmit" v-else>
                提交 <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
