<div class="wizard">
    <portlet :title="title" icon="reorder" id="form_wizard_1" bodycss="form"> 
        <wizard-title slot="title" :value="stepTitle"></wizard-title>

        <he-form id="submit_form" inner="form-wizard" actionscss="fluid" horizontal>

            <wizard-steps :index="stepIndex" v-ref:steps></wizard-steps>
            <wizard-progress></wizard-progress>

            <wizard-tab-content>                        
                
                <wizard-tab-pane css="active" id="tab1" title="Provide your account details">
                    <he-form-item title="用户名" col="3-4" help="Provide your username" required horizontal>
                        <input type="text" name="username" v-model="username">
                    </he-form-item>
                </wizard-tab-pane>

                <wizard-tab-pane id="tab2" title="Provide your profile details">           
                    <he-form-item title="Fullname" col="3-4" help="Provide your fullname" required horizontal>
                        <input type="text" name="fullname" v-model="fullname">
                    </he-form-item> 

                    <he-form-item title="Remarks" col="3-4" help="Provide your fullname"  horizontal>
                        <textarea rows="3" name="remarks"  v-model="remarks"></textarea>
                    </he-form-item>
                </wizard-tab-pane>

                <wizard-tab-pane id="tab3" title="Provide your billing and credit card details">
                    <he-form-item title="Card Holder Name" col="3-4" required horizontal>
                        <input type="text" name="card_name" v-model="card_name">
                    </he-form-item> 
                </wizard-tab-pane>

                <wizard-tab-pane id="tab4" title="Confirm your account">

                    <h4 class="form-section">Account</h4>
                    <he-form-item title="Username:" col="3-4" horizontal>
                        <p class="form-control-static" > {{username}} </p>
                    </he-form-item>     

                    <h4 class="form-section">Profile</h4>     
                    <he-form-item title="Fullname:" col="3-4" horizontal>
                        <p class="form-control-static" > {{fullname}} </p>
                    </he-form-item>     
                    <he-form-item title="Remarks:" col="3-4" horizontal>
                        <p class="form-control-static" > {{remarks}} </p>
                    </he-form-item>      

                    <h4 class="form-section">Billing</h4>
                    <he-form-item title="Card Holder Name:" col="3-4" horizontal>
                        <p class="form-control-static" > {{card_name}} </p>
                    </he-form-item>      

                </wizard-tab-pane>
                
            </wizard-tab-content>
           
            <wizard-actions slot="actions"></wizard-actions>
        </he-form>
    </portlet>   
</div>