.row-fluid .recommended {
  width: 900px;
  min-height: 500px;
  margin: 0 auto;
}

.row-fluid .recommended .page-title {
  position: fixed;
  width: 900px;
  top: 0px;
  background: white;
  border-width: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  padding-left: 20px;
  border-bottom: 2px solid #d9d9d9;
  font-size: 12px;
}

.row-fluid .recommended .page-title .loader-tiny {
  float: left;
  width: 17px;
  margin: 20px 0 0 20px;
  display: none;
}

.row-fluid .recommended .page-title .search {
  float: right;
  margin-top: 10px;
}

.row-fluid .recommended .page-title .navigation {
  margin: 0;
  border-bottom: none;
  list-style: none;
  text-align: center;
}

.row-fluid .recommended .page-title > ul .active {
  margin-bottom: -2px;
  border-bottom: 2px solid #555555;
}

.row-fluid .recommended .page-title li {
  float: left;
  line-height: 20px;
}

.row-fluid .recommended .page-title li:hover {
  background-color: #eeeeee;
  color: #555555;
}

.row-fluid .recommended .page-title li a {
  padding: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  color: #999999;
  text-decoration: none;
}
