/***
Page title
***/
.page-title {
  padding: 0;
  font-size: 26px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 0 0 15px 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.page-title small {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 300;
  color: #888;
}

/***
Page breadcrumb
***/
/* Page breadcrumb */
.page-bar {
  border: 0;
  padding: 0;
  background-color: #eee;
  margin-bottom: 25px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 10px;
  padding-right: 20px;
}

.page-bar:before, .page-bar:after {
  content: " ";
  display: table;
}

.page-bar:after {
  clear: both;
}

.page-bar .page-breadcrumb {
  display: inline-block;
  float: left;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.page-bar .page-breadcrumb > li {
  display: inline-block;
}

.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span {
  color: #666;
  font-size: 14px;
  text-shadow: none;
}

.page-bar .page-breadcrumb > li > i {
  color: #999;
  font-size: 14px;
  text-shadow: none;
}

.page-bar .page-breadcrumb > li > i[class^="icon-"],
.page-bar .page-breadcrumb > li > i[class*="icon-"] {
  color: gray;
}

.page-bar .page-toolbar {
  display: inline-block;
  float: right;
  padding: 0;
  background-color: #ddd;
}

.page-bar .page-toolbar .btn-fit-height {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0;
}

.page-bar .page-toolbar .btn.default {
  background-color: #ddd;
}

.page-boxed .page-bar {
  margin-right: -19px;
}
