<div class="test-wizard">

    <wizard :title="title" :step-items="stepItems" :rules-options="rulesOptions">
        
        <wizard-item css="active" id="tab1" title="配置数据库中的字段及含义">     
            <div class="row">
               <div class="col-md-6">
                    <he-form-item title="字段名" col="3-9" required horizontal>
                        <input type="text" name="targetName" v-model="targetName" placeholder="在数据库中的字段名，推荐小驼峰形式">
                    </he-form-item>
                    <he-form-item title="中文名称" col="3-9" required horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>                    
                    <he-form-item title="类型" col="3-9" help="可选可输入。时间用什么存储呢？" required horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="长度" col="3-9" help="int、char、varchar才需要定义长度" required horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="默认值" col="3-9" help="可选可输入" horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="属性" col="3-9" help="下拉选择，比如UNSIGINED" required horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="是否非空" col="3-9" horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="索引" col="3-9" help="定义主键或唯一信息" required horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="是否自增" col="3-9" horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="注释" col="3-9" help="备注和解释" required horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item title="外键配置" col="3-9" help="此处可能有多个" horizontal>
                        <input type="text" name="targetName" v-model="targetName">
                    </he-form-item>
                    <he-form-item col="3-9" horizontal>
                        <button class="btn btn-info">保存</button>
                    </he-form-item>
               </div>
               <div class="col-md-6">
                   
               </div>
           </div>       
                   
        </wizard-item>

        <wizard-item id="tab2" title="基础信息配置">           
            <he-form-item title="目标名" col="3-4" help="用以描述这是xx管理系统" required horizontal>
                <input type="text" name="targetName" v-model="targetName">
            </he-form-item>

            <he-form-item title="功能描述" col="3-4" help="简单描述这个系统是用于做什么的" horizontal>
                <textarea rows="3" name="targetDesc"  v-model="targetDesc"></textarea>
            </he-form-item>

            <he-form-item title="菜单ID" col="3-4" help="用于在左侧导航栏中高亮" required horizontal>
                <input type="text" name="menuId" v-model="menuId">
            </he-form-item>

            <he-form-item title="面包屑导航" col="3-4" help="用于在左侧导航栏中高亮" required horizontal>
                <input type="text" name="breadcrumb" v-model="breadcrumb">
            </he-form-item>
        </wizard-item>

        <wizard-item id="tab3" title="Provide your billing and credit card details">
            <he-form-item title="Card Holder Name" col="3-4" required horizontal>
                <input type="text" name="card_name" v-model="card_name">
            </he-form-item> 
        </wizard-item>

        <wizard-item id="tab4" title="Confirm your account">

            <h4 class="form-section">Account</h4>
            <he-form-item title="Username:" col="3-4" horizontal>
                <p class="form-control-static" > {{username}} </p>
            </he-form-item>     

            <h4 class="form-section">Profile</h4>     
            <he-form-item title="Fullname:" col="3-4" horizontal>
                <p class="form-control-static" > {{fullname}} </p>
            </he-form-item>     
            <he-form-item title="Remarks:" col="3-4" horizontal>
                <p class="form-control-static" > {{remarks}} </p>
            </he-form-item>      

            <h4 class="form-section">Billing</h4>
            <he-form-item title="Card Holder Name:" col="3-4" horizontal>
                <p class="form-control-static" > {{card_name}} </p>
            </he-form-item>      

        </wizard-item>

    </wizard>

</div>
