<form :id="id" :action="action" :class="{ 'form-horizontal': horizontal }" role="form" :method="method">
    <template v-if="inner">
        <div :class="inner">
            <div class="form-body" :class="bodycss">
                <slot></slot>
            </div>
            <div class="form-actions" :class="actionscss" v-if="!noactions">
                <slot name="actions"></slot>
            </div>
        </div>
    </template>
    <template v-else>
        <div class="form-body" :class="bodycss">
            <slot></slot>
        </div>
        <div class="form-actions" :class="actionscss" v-if="!noactions">
            <slot name="actions"></slot>
        </div>
    </template>
</form>
